<div>
  <div
    class="mt-10 w-full max-w-4xl rounded-[24px] md:rounded-[32px] border border-slate-200 dark:border-white/10 bg-white dark:bg-white/5 shadow-sm backdrop-blur-xl p-5 md:p-10"
  >
    <div
      class="border-2 border-dashed border-slate-300 dark:border-slate-700 rounded-3xl p-8 md:p-16 hover:border-violet-500 transition text-center"
      (dragover)="$event.preventDefault()"
      (drop)="$event.preventDefault(); handleUpload($event.dataTransfer!.files)"
    >
      <h3
        class="text-slate-900 dark:text-white text-lg md:text-2xl font-semibold"
      >
        Upload your study materials
      </h3>

      <p class="text-slate-600 dark:text-slate-400 mt-3">
        Drag & drop PDFs, DOCX, PPT, or images
      </p>

      <input
        #fileInput
        type="file"
        multiple
        hidden
        (change)="onFileSelected($event)"
      />

      <button
        *ngIf="!isUploading()"
        (click)="fileInput.click()"
        class="mt-8 rounded-2xl px-6 py-3 bg-gradient-to-r from-violet-600 to-emerald-500 font-medium text-white hover:scale-[1.02] transition"
      >
        Upload Notes
      </button>

      <div *ngIf="isUploading()" class="mt-8 max-w-md mx-auto">
        <div class="flex justify-between mb-3">
          <p class="text-sm font-medium text-slate-700 dark:text-slate-300">
            <span *ngIf="processingStatus() === 'uploading'">
              Uploading file streams...
            </span>
            <span
              *ngIf="processingStatus() === 'processing'"
              class="text-violet-600 dark:text-violet-400 animate-pulse"
            >
              AI is chunking & embedding text...
            </span>
          </p>

          <span
            class="text-sm font-medium text-violet-600 dark:text-violet-400"
          >
            {{ uploadProgress() }}%
          </span>
        </div>

        <div
          class="h-3 rounded-full overflow-hidden bg-slate-200 dark:bg-slate-800"
        >
          <div
            class="h-full rounded-full bg-gradient-to-r from-violet-600 to-emerald-500 transition-all duration-300 ease-out"
            [style.width.%]="uploadProgress()"
          ></div>
        </div>

        <p class="mt-3 text-xs text-slate-500 dark:text-slate-400">
          Extracting text • Generating embeddings • Preparing AI
        </p>
      </div>
    </div>
  </div>
</div>
